<table class="striped">
    <tr>
        <th>Question</th>
        <th>Show</th>
    </tr>
<% @question.each do |question| %>
    <tr>
        <td><%= question.description %></td>
        <td><%= link_to "View", question %></td>
    </tr>
<% end %>
    </table>
