<% if current_user.has_role? :admin %>
    <table class="">
        <tr>
            
            <td><%= link_to "Exams", exams_path, :class => "waves-effect waves-light btn-large" %></td>
            <td><%= link_to "All created questions", questions_path, :class => "waves-effect waves-light btn-large" %></td>
            <td><%= link_to "create a new questions", new_question_path, :class => "waves-effect waves-light btn-large" %></td>
        </tr>
    </table>
<% else %>
    jhkjhds
<% end %>
